<%-include('header') %>
<div>
  <h1><img src="images/logo.png" alt="Rafael Sana Montevechio" /></h1>
  <strong>
    <p>Brasileiro | 31 anos</p>
    <p>Rua Das Curimbatás, 322 - Santa Branca | Pouso Alegre-MG</p>
    <P>rafael_sana@hotmail.com | (35)9.9908-9697</P>
  </strong>
  <h3>Objetivo</h3>
  <p>Trabalhar com desenvolvimento</p>

  <h3>Formação Acadêmica</h3>
  <h4>Formação Superiror em Sistemas de Informação</h4>
  <h4>Universidade Do Vale Sapucaí – (UNIVÁS) | 2019</h4>

  <h3>Experiências</h3>
  <h4>AUTOMAÇÃO E CIA - Suporte de TI | 2016 - 2019</h4>
  <p>
    <strong>Funções: </strong>Responsável pala infraestrutura de rede, configuração, manutenção dos
    equipamentos e suporte aos usuários internos da empresa.
  </p>

  <h4>MULTIPLEX - Técnico de informática | 2014 - 2015</h4>
  <p>
    <strong>Funções: </strong>Instalação e configuração de PABX Leucotron, montagem e manutenção de
    redes de computadores.
  </p>

  <h4>BRITIS - Auxiliar Técnico de informática | 2012</h4>
  <p><strong>Funções: </strong>Instalação de antenas via radio e suporte ao usuário.</p>

  <p><a href="/information">Informações complementares</a></p>
</div>

<%-include('footer') %>