<%- include('header') %>

<div>
<strong><a href="/">Voltar </a></strong>

<h2>Idiomas</h2>
<h3>INGLÊS | Wizard | 2015 - 2018</h3>
<p>
  <strong>Leitura: </strong>Intermediária | <strong>Escrita: </strong>Intermediária |
  <strong>Fala: </strong> Intermediária
</p>

<h2>Cursos</h2>
<p>• Ionic: Aplicativos para Android, IOS | Udemy | 2019</p>
<p>• Aplicativos com Angular, Material e Firebase | Udemy | 2019</p>
<p>• Angular 2, 4 e 5 | Udemy | 2017</p>
<p>• Angular 2 | Treina Web | 2017</p>
<p>• Técnico de informática | INPETTECC | 2011 - 2012</p>

</div>
<%- include('footer') %>
